body {
    background-color: #2c2d2d;
    background-image: linear-gradient(183deg, #2c2d2d 0%, #030303 100%);
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.item{
    padding: 20px 0 0 0;
}

a:link,a:visited,a:hover,a:active,a::after{
    text-decoration: none;
    color: black;
}


h2,p,h1:not(.cabecera-form){
    -webkit-text-fill-color: white;
    text-shadow: 2px 2px 10px white;
}

h1{
    text-align: center;
}

p{
    font-size: 18px;
}

.slider {
    z-index: 1;
    width: 75%;
    height: 380px;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambioImagen 20s infinite alternate;
    animation-timing-function: ease-out;
}

.slider li {
    list-style: none;
    width: 100%;
}

img {
    width: 100%;
    height: 400px;
    position: static;
    background-size: cover;


    background-repeat: no-repeat;


    background-attachment: fixed;


    background-size: cover;
}

@keyframes cambioImagen {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }

}


.capa {
    position:absolute;
    z-index: 2;
    width: 37%;
    height: 0px;
    border-right: 200px solid transparent;
    border-left: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 400px solid rgb(255, 0, 0);
}

.contenido{
    z-index: 3;
}

pre {
    color: white;
}