body{
    height: 100vh;
    background-color: #001060;
    background-image: linear-gradient(0deg, #001060 0%, #002389 56%, #0a025c 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h3{
    text-align: center;
}
#centro{
border-radius: 5px black;
margin-top: 3%;
font-weight: 600;
}
#sub{
    cursor: pointer;
}