body{
    height: 100vh;
    background-color: #1c0b3b;
    background-image: linear-gradient(180deg, #1c0b3b 0%, #140466 50%, #2e1766 100%);    
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h3{
    text-align: center;
}
#centro{
 
    margin-top: 3%;
    font-weight: 600;
}

#formulario{
    width: 90%;
    border-radius: 7% 7% 7% 7%; 
    box-shadow: 5px 5px 8px 5px #161616;
    padding: 5% 5% 5% 5%;
    background-color: #161616;
    background-image: linear-gradient(0deg, #161616 0%, #2f3131 100%);
}

span,h3{
    color: #9b9b9b;
}

.form__group {
    position: relative;
    padding: 20px 0 0;
    margin-top: 10px;
    width: 100%;
    max-width: 180px;
}
  
.form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
  
.form__field::placeholder {
    color: transparent;
}
  
.form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}
  
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}
  
.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
}
  
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
}
  
/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}

.cbx {
    position: relative;
    top: 1px;
    width: 27px;
    height: 27px;
    border: 1px solid #c8ccd4;
    border-radius: 3px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
    display: block;
}
   
.cbx:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 8px;
    width: 7px;
    height: 14px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
}
   
.lbl {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}
   
#cbx:checked ~ .cbx {
    border-color: transparent;
    background: #6871f1;
    animation: jelly 0.6s ease;
}
   
#cbx:checked ~ .cbx:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}
   
.cntr {
    position: relative;
}
   
@keyframes jelly {
    from {
     transform: scale(1, 1);
    }
   
    30% {
     transform: scale(1.25, 0.75);
    }
   
    40% {
     transform: scale(0.75, 1.25);
    }
   
    50% {
     transform: scale(1.15, 0.85);
    }
   
    65% {
     transform: scale(0.95, 1.05);
    }
   
    75% {
     transform: scale(1.05, 0.95);
    }
   
    to {
     transform: scale(1, 1);
    }
}
   
.hidden-xs-up {
    display: none!important;
}
   

#sub{
    cursor: pointer;
}
.warnings{
    text-align: center;
    color: red;
    margin: auto;
    padding-top: 20x;
}